@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --main-red: #B4172C;
    --main-dark-blue: #02001a;
    --main-beige: #DAC8B3;
    font-size: 20px;
}
  
html
{
    scroll-behavior: smooth;
}
*
{
    font-family: "Raleway", sans-serif;
    font-style: normal;
}
body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
header
{
    position: sticky;
    width: 100%;
    height: 150px; 
    display: flex;
    background-color: white;
}
section#left-header
{
    width: 90%;
    height: 150px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
section#left-header img
{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
menu#right-header
{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
menu#right-header ul
{
    display: none;
}

.text-header-container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
}
.text-header-container h1
{
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}

.text-header-container h2
{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

section#s1
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 50px;
}
.s1-text-container
{
    width: 100%;
    height: 100%;
    height: auto;
    text-align: center;
}
.s1-text-container p
{
    padding: 10px;
    margin: 0;
}

.s1-text-header-container
{
    display: none;
}
section#s1 aside
{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside#s1-img img
{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

section#o_mnie
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-beige);
}
.s2-text-container
{
    width: 90%;
    max-height: 80%;
    text-align: left;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;
    justify-content: center;

}
.s2-text-container h1
{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}
section#o_mnie img
{
    max-width: 80%;
    max-height: 80%;
    border-radius: 100%;
}
.s2-img-container
{
    width: 100%;
    height: 100%;
    max-width: 500px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#s3
{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.s3-header-container
{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.s3-header-container h1
{
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s3-header-container h2
{
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 0;
}
.s3-container
{
    max-width: 1400px;
    text-align: center;
    width: 100%;
    display: grid; 
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . . ."
      ". . . . ."; 
}
.s3-container-item
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content:flex-end;
    font-size: 18px;
}

.s3-container-arrow
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.s3-container-arrow img
{
    max-width: 50%;
    max-height: 50%;
}
#k1
{
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 15px;
}
#k2
{
    max-width: 70%;
    max-height: 70%;
}
#k3
{
    max-width: 60%;
    max-height: 60%;
    margin-bottom: 15px;
}
#k4
{
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 15px;
}
#k5
{
    max-width: 55%;
    max-height: 55%;
    margin-bottom: 15px;
}
#k6
{
    max-width: 55%;
    max-height: 55%;
    margin-bottom: 15px;
}
section.sub-header
{
    width: 100%;
    height: 320px;
    background-color: var(--main-red);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.sub-header img
{
    width: 150px;
    margin-bottom: 20px;
}
section.sub-header h1
{
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
section.sub-header h2
{
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
article
{
    width: 100%;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
article p 
{
    width: 90%;
    height: auto;
    margin: 0;
}
article h3
{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.article-text-container
{
    width: 90%;
}
#s4
{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#s4 h2
{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.insurance-container
{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 50px 50px; 
    grid-template-areas: 
      ". ."
      ". ."; 
}
.insurance-container-item
{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
}
.insurance-container-item img
{
    max-width: 50%;
    max-height: 50%;
}
.insurance-container-item h3
{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

footer
{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--main-dark-blue);
    padding: 50px;
}
footer aside
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;

}
#logo-white
{
    width: 170px;
}
aside a
{
    width: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50px;
    text-align: center;
}
#facebook-logo
{
    width: 100%;
}
.map-container
{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-container iframe
{
    width: 95%;
    height: 95%;
}



.hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 95%;
    max-width: 50px;
    position: absolute;
    top: 25px;
    right: 10px;
    z-index: 100;
}
.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}


.small-menu
{
    background-color: black;
    color: white;
    position: absolute;
    top: 150px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    
}
.small-menu-item
{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.small-menu-item a:hover
{
    border-bottom: 4px solid var(--main-red);
}
.small-menu-item a
{
    color: white;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@keyframes menu-appear {
    from {height: 0px;background-color: white;}
    to {height: 500px;background-color: black;}
}
@keyframes menu-disappear {
    from {height: 500px;background-color: black;}
    to {height: 0px;background-color: white;}
}
@keyframes header-appear {
    from {background-color: white;}
    to {background-color: black;}
}
@keyframes header-disappear {
    from {background-color: black;}
    to {background-color: white;}
}
.menu-show
{
    animation: menu-appear 1s;
    display: block;
}
.menu-hide-animate
{
    animation: menu-disappear 1s;
}

.menu-hide
{
    display: none;
}
.small-menu-item-hide
{
    display: none;
}

.header-menu-show
{
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    animation: header-appear 1s;
    display: block;
}
.header-menu-hide
{
    animation: header-disappear 1s;
}
.line-show
{
    stroke: white;
}
.steady-block-hide
{
    display: none;
}
.steady-block-show
{
    display: block;
    height: 150px;
    width: 100%;
}

