@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --main-red: #B4172C;
    --main-dark-blue: #130F41;
    --main-beige: #DAC8B3;
    font-size: 20px;
}
#steady-block
{
    display: none;
}
html
{
    scroll-behavior: smooth;
}
*
{
    font-family: "Raleway", sans-serif;
    font-style: normal;
}
body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.text-header-container
{
    display: none;
}
header
{
    width: 100%;
    height: 150px; 
    display: flex;
    background-color: white;
}
section#left-header
{
    width: 50%;
    height: 150px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
section#left-header img
{
    width: 100px;
    margin-left: 50px;
}
.hamburger
{
    display: none;
}
menu
{
    width: 50%;
    height: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0;
}
menu ul
{
    max-width: 500px;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
menu ul li
{
    font-size: 18px;
    font-weight: 600;
    color: var(--main-dark-blue);
    cursor: pointer;
    padding: 10px;
    border-bottom: 3px solid var(--main-red);
    transition: 1s;
}
menu ul li:hover
{
    border-bottom: 3px solid var(--main-dark-blue);
    transition: 1s;
}
menu ul li a{
    text-decoration: none;
    color: black;
}

.small-menu
{
    display: none;
}
section#s1
{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.s1-text-container
{
    width: 50%;
    height: 100%;
    padding-left: 5%;
    height: auto;
}
.s1-text-container p
{
    width: 100%;
    height: 100%;
}
.s1-text-container h1
{
    font-size: 64px;
    font-weight: 600;
    text-align: left;
    margin: 0;
}
.s1-text-container h2
{
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin: 0;
}

.s1-text-header-container
{
    max-width: 521px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
section#s1 aside
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside#s1-img
{
    width: 50%;
}
aside#s1-img img
{
    max-width: 100%;
    height: auto;
}

section#o_mnie
{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--main-beige);
}
.s2-text-container
{
    width: 65%;
    max-height: 80%;
    text-align: left;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

}
.s2-text-container h1
{
    font-size: 48px;
    font-weight: 600;
    text-align: left;
    margin: 0;
}
section#o_mnie img
{
    max-width: 100%;
    max-height: 80%;
    border-radius: 100%;
}
.s2-img-container
{
    width: 35%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#s3
{
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.s3-header-container
{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.s3-header-container h1
{
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s3-header-container h2
{
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 0;
}
.s3-container
{
    max-width: 1400px;
    text-align: center;
    width: 100%;
    display: grid; 
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . . ."
      ". . . . ."; 
}
.s3-container-item
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content:flex-end;
    font-size: 18px;
}

.s3-container-arrow
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.s3-container-arrow img
{
    max-width: 50%;
    max-height: 50%;
}
#k1
{
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 15px;
}
#k2
{
    max-width: 70%;
    max-height: 70%;
}
#k3
{
    max-width: 60%;
    max-height: 60%;
    margin-bottom: 15px;
}
#k4
{
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 15px;
}
#k5
{
    max-width: 55%;
    max-height: 55%;
    margin-bottom: 15px;
}
#k6
{
    max-width: 55%;
    max-height: 55%;
    margin-bottom: 15px;
}
section.sub-header
{
    width: 100%;
    height: 320px;
    background-color: var(--main-red);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.sub-header img
{
    width: 150px;
    margin-bottom: 20px;
}
section.sub-header h1
{
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}
section.sub-header h2
{
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
article
{
    width: 100%;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
article p 
{
    max-width: 1200px;
    height: auto;
    margin: 0;
}
article h3
{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.article-text-container
{
    max-width: 1200px;
}
#s4
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#s4 h2
{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.insurance-container
{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 50px 50px; 
    grid-template-areas: 
      ". ."
      ". ."; 
}
.insurance-container-item
{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
}
.insurance-container-item img
{
    max-width: 50%;
    max-height: 50%;
}
.insurance-container-item h3
{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}
footer
{
    height: auto;
    display: flex;
    width: 100%;
    background-color: var(--main-dark-blue);
    padding: 50px;
}
footer aside
{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;

}
#logo-white
{
    width: 170px;
}
aside a
{
    width: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50px;
}
#facebook-logo
{
    width: 100%;
}
.map-container
{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-container iframe
{
    width: 80%;
    height: 90%;
}
@media screen and (max-width: 1400px){

.s1-text-container
{
    padding-left: 10px;
    padding-right: 10px;
}
 
article{
    padding-left: 10%;
    padding-right: 10%;
}
.s2-text-container
{
    width: 55%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;
    display: flex;
    
}

}